<div class="row">
<div class="col-md-1"></div>
<div class="col-md-5">
<div class="responsive" ng-controller="bdayController">
        <div class="gallery" ng-repeat="l in options.langs2" ng-if="$index % 2 == 0">
                <img ng-src="{{l.link}}">
                    <div class="desc"><b>{{l.name}}</b>
                    <button type="button"  class="btn btn-secondary" onclick="addtocart">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                  </button>
                  <button type="button" class="btn btn-secondary">
                     <a href="{{l.link}}" download="{{l.link}}">
                     <i class="glyphicon glyphicon-download"></i>
                     </a>
                     </button>
                  </div>
        </div>
</div>
</div>
<div class="col-md-5">
<div class="responsive" ng-controller="bdayController"> 
            <div class="gallery" ng-repeat="l in options.langs2" ng-if="$index % 2 != 0">
                    <img ng-src="{{l.link}}">
                        <div class="desc"><b>{{l.name}}</b>
                       <button type="button"  class="btn btn-secondary" onclick="addtocart">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                       </button>
                       <button type="button" class="btn btn-secondary">
                        <a href="{{l.link}}" download="{{l.link}}">
                        <i class="glyphicon glyphicon-download"></i>
                        </a>
                        </button>
                       </div>
            </div>
</div>
</div>
<div class="col-md-1"></div>
</div>

