<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<div id="row1" ng-controller="logcon">
      <form name="myForm" class="formstyle" novalidate>
       <div class="form-group">
       <label for="username">UserName</label>
       <input type="text" class="form-control" id="username" placeholder="UserName" ng-model="username" required>
           <!-- <i style="color:red;" ng-show="myForm.username.$touched && myForm.username.$invalid">
            Username is required</i>-->
       </div>
       <div class="form-group">
       <label for="password">Password</label>
       <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required>
           <!-- <i style="color:red;" ng-show="myForm.password.$touched && myForm.password.$invalid">
            Password is required</i>-->
       </div>
        <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="submit" class="btn btn-success" style="float:right">Signup</button>
      </form>
    </div>
  </div>
    <div class="col-md-3"></div>
</div>


