<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
<div id="row1" ng-controller="regCon" >
       <form class="formstyle" name="myForm"  novalidate>
       <div class="form-group">
       <label for="username">UserName</label>
       <input type="text" class="form-control" id="username" placeholder="UserName" ng-model="username" required>
           <!-- <i style="color:red;" ng-show="myForm.username.$touched && myForm.username.$invalid">
            Username is required</i>-->
       </div>
       <div class="form-group">
       <label for="email">Email address</label>
       <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email" required>
           <!-- <i style="color:red;" ng-show="myForm.email.$touched && myForm.email.$invalid">
            Email is required</i>-->
       </div>
       <div class="form-group">
       <label for="number">Mobile</label>
       <input type="telno" class="form-control" id="number" maxlength="10" placeholder="number" ng-model="number" required>
           <!-- <i style="color:red;" ng-show="myForm.number.$touched && myForm.number.$invalid">
            Mobile number is required</i>-->
       </div>
       <div class="form-group">
       <label for="password">Password</label>
       <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" required>
          <!--  <i style="color:red;" ng-show="myForm.password.$touched && myForm.password.$invalid">
            Password is required</i>-->
       </div>
       
       <div class="form-group form-check">
       <input type="checkbox" class="form-check-input" id="exampleCheck1">
       <label class="form-check-label" for="exampleCheck1">Check me out</label></div>
       <button type="submit" id="submit" class="btn btn-primary">Register</button>
       </form>
</div>
</div>
<div class="col-md-3"></div>
</div>




       
